.musicList {
  width: 100%;
}

.musicList > .musicItem:hover {
  background-color: #f2f2f2;
}

.musicList > .musicItem > .musicLink {
  display: flex;
  height: inherit;
  padding: 8px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 15px;
}

.musicLink div {
  display: flex;
  align-items: center;
}

.ranking {
  width: 10px;
  margin: 0 30px 0 20px;
}

.albumImg {
  width: 70px;
  margin-right: 30px;
}

.albumImg > img {
  width: 100%;
  max-width: 60px;
  border-radius: 8px;
}

.albumTitle {
  width: 450px;
  margin-right: 80px;
  line-height: 1.2;
}

.artistName {
  width: 250px;
  margin-right: 30px;
  line-height: 1.2;
}

.price {
  width: 80px;
}

@media screen and (max-width: 768px) {
  .musicList > .musicItem > .musicLink {
    font-size: 14px;
    padding: 4px;
  }
  .ranking {
    width: 10px;
    margin: 0 15px 0 10px;
  }
  .albumImg {
    width: 50px;
    margin-right: 15px;
  }

  .albumTitle {
    width: 200px;
    margin-right: 60px;
  }

  .albumTitle > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .albumTitle > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .artistName {
    width: 80px;
  }

  .artistName > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .price {
    width: 50px;
    margin-left: auto;
  }
}

@media screen and (max-width: 575px) {
  .ranking {
    width: 10px;
    margin: 0 10px 0 0px;
  }
  .albumImg {
    flex-grow: 0;
  }

  .albumTitle {
    width: 80px;
    flex: 2 1 auto;
    margin-right: 15px;
  }

  .artistName {
    flex: 1 1 auto;
    margin-right: 0;
  }

  .musicLink div.price {
    display: none;
  }
}
